 *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
      background-color: dodgerblue;
}
h1 {
    margin: 0;
    text-align:center;
    color: white; 
    padding-top: 1rem; 
}

.nav-links {
    list-style-type: none; 
    padding: 2rem 2rem 1rem 2rem; 
    margin: 0;
}

.nav-book-color {
    color: black;
}

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    text-decoration: underline;
}
.more-info {
    color: black;
}

/* styling add book card */
.container {
    max-width: 400px; 
    margin: 0 auto;
    margin-top: 10vh; 

}

.card {
    background-color: aliceblue;
    border-radius: 0.5rem;
    display: flex; 
    justify-content: center;
}

.card-headings {
    color:rgba(64, 120, 195, 0.782);
    padding: 1rem; 
    text-align: center; 
}

.card-details {
    text-align: center; 
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.checked-out-label {
    margin-right: 0.2rem;
}

/* styling book card component */


.book-cards-container { 
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.book {
    margin: 2rem;
    background-color: aliceblue;
    padding: 3rem;
    border-radius: 0.2rem;
}

.book-headings {
    color: rgba(64, 120, 195, 0.782);
    margin: 0.5rem 0 0.5rem 0;
}

.checked-in-out {
    margin: 0.5rem 0 0.5rem 0;
    border-bottom: solid;
    border-color: black;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.summary-paragraph {
    line-height: 1.5;
}

/* styling the forms / input areas */

input[type=text] {
    padding: 0.6rem; 
    margin: 0.6rem 0; 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 0; 
    border-radius: 5px; 
}

input[type=submit] {
    padding: 0.6rem; 
    margin: 0.6rem 0; 
    background-color: rgba(64, 120, 195, 0.782);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 1; 
    border-color: rgba(64, 120, 195, 0.782);
    border-radius: 5px; 
    color: white;
}


footer > p {
    margin: 0; 
    color: white; 
    text-align: center; 
    padding: 2rem; 
}
footer {
    background-color: dodgerblue;
    
} 

