{% extends 'base.html' %}

{% block content %}

<section>

    <h1>Your Chosen Book</h1>
    
        <h3>Title:</h3>
        <p>{{book.title}}</p>
        
        <h3>Author:</h3>
        <p>{{book.author}}</p>
        
        <h3>Genre:</h3>
        <p>{{book.genre}}</p>

        <div>
            {% if book.checked_out %}

                 <p>This book is currently checked out</p>
            {% else %}

                <p>This book is currently checked in</p>

            {% endif %}

        </div>

    </div>

</section>

{% endblock %}